
{% extends "_layouts/cp" %}

{% do view.registerAssetBundle("hillholliday\\usermanual\\assetbundles\\usermanual\\UserManualAsset") %}

{% set sectionSelected = (craft.userManual.settings.section is defined)
  ? craft.userManual.settings.section
  : "Homepage" %}

{% set title = craft.userManual.name|t %}

{% if craft.userManual.settings.enabledSideBar %}
    {% set sidebar %}
      <nav>
        {% set help = craft.entries.sectionId(sectionSelected).all() %}
        <ul>
          {% nav page in help %}
            {% set active = page.slug == craft.app.request.segments|last or loop.first and craft.app.request.segments|last == 'usermanual' %}
            <li>
              <a {% if active %}class="sel"{% endif %}
                href="{{ url('usermanual/' ~ page.uri) }}">
                {{page.title}}
              </a>
              {% ifchildren %}
                  <ul>
                      {% children %}
                  </ul>
              {% endifchildren %}
              </li>
          {% endnav %}
        </ul>
      </nav>
    {% endset %}
{% endif %}

{% set content %}
  <div id="user-manual">
    {{ getHelpDocument(sectionSelected)|raw }}
  </div>
{% endset %}
