/*
 * lifted from craft-help from the super smart devs over at 70kft https://github.com/70kft/craft-help 
 */

#user-manual {
  font-size: 15px;
  line-height: 1.5;
}

@media only screen and (min-width: 1300px) {
  #user-manual {
    margin-right: 194px;
  }
}

@media only screen and (min-width: 1300px) {
  body.rtl #user-manual {
    margin-right:0px;
    margin-left:194px;
  }
}

#user-manual .text-center {
  text-align: center;
}

#user-manual .text-left {
  text-align: left;
}

#user-manual .text-right {
  text-align: right;
}

#user-manual h1 {
  color: #29323d;
  font-size: 2.5em;
}

#user-manual h2 {
  color: #da5a47;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 28px;
}

#user-manual h3 {
  color: #29323d;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 28px;
}

#user-manual h4 {
  margin-top: 28px;
}

#user-manual img {
  max-width: 100%;
  height: auto;
}

#user-manual figure figcaption {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
}

#user-manual ul, #user-manual ol {
  margin: 1em 0 1em 30px;
  padding: 0;
  list-style-type: disc;
}

#user-manual ol {
  list-style-type: decimal;
}

#user-manual ul li, #user-manual ol li {
  margin-bottom: 0.25em;
}

#user-manual ol ol, #user-manual ol ol {
  margin: 0 0 0.25em 30px;
}

#user-manual blockquote {
  background: hsl(212, 2%, 97%);
  -webkit-box-shadow: inset 0px 0px 3em rgba(0,0,0,0.1);
  box-shadow: inset 0px 0px 3em rgba(0,0,0,0.1);
  font-size: 1.2em;
  padding: 2em;
}

#user-manual table {
  border: solid 1px rgb(227,227,227);
  border-collapse: collapse;
  font-size: 14px;
  margin-bottom: 1em;
  width: 100%;
}

#user-manual table th, table td {
  font-size: 14px;
  padding: 0.5em 1em;
}

#user-manual table th {
  font-weight: bold;
}

#user-manual table thead {
  background-image: -webkit-linear-gradient(#f7f7f8, #f4f5f6);
  background-image: -moz-linear-gradient(#f7f7f8, #f4f5f6);
  background-image: -ms-linear-gradient(#f7f7f8, #f4f5f6);
  background-image: -o-linear-gradient(#f7f7f8, #f4f5f6);
  background-image: linear-gradient(#f7f7f8, #f4f5f6);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

#user-manual table thead th, table thead td {
  border-bottom: solid 1px rgb(227,227,227);
  font-size: 14px;
}

#user-manual table tbody th, table tbody td {
  border: solid 1px rgb(227,227,227);
}

#user-manual pre,
#user-manual code{
  margin: 0.5em 0;
  border: 1px solid hsl(212, 2%, 90%);
  padding: 14px;
  word-wrap: normal;
  overflow: auto;
  font-family:'Source Code Pro', 'Menlo', monospace;
}

#user-manual pre .token,
#user-manual code .token {
  display: inherit;
  border: inherit;
  border-radius: inherit;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  text-shadow: inherit;
  background: inherit;
}

#user-manual pre, #user-manual code {
  color: #657b83;
  background: hsl(212, 2%, 97%);
}

#user-manual :not(pre) > code {
  padding: 2px 4px;
}

.sidebar nav li ul {
  display: block !important;
}
